.story-page {

}
.coverage-container {
    padding: 20px 0 0 0;
    width: 100%;
    @media #{$medium-up} {
        float: right;
        height: auto;
        width: 50%;
        overflow: auto;
    }
    @media #{$large-up} {
        padding: 20px;
    }
}

.coverage-inner-wrapper {
    max-width: 60em;
    width: 93.75%;
    margin: 0 3.125%;
    @media #{$medium-up} {
        float: left;
        width: 95.8333333%;
        margin: 0;
    }
    @media #{$large-up} {
        width: 100%;
    }
}

.coverage {

}
