.header {
    height: auto;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
    .story-page & {
        @media #{$medium-up} {
            position: fixed;
            width: 50%;
        }
    }
}

.header-container {
    margin: 0 auto;
    max-width: 60em;
    position: relative;
    width: 90%;
}

.logo {
    padding: 20px 0;
}

.menu-link {
    position: absolute;
    right: 0;
    top: 20px;
}
